<div id="waitingPage" class="page">
    <div class="waiting-container">
        <div class="spinner"></div>
        <h2 data-i18n="waiting_approval"></h2>
        <p data-i18n="login_pending_message"></p>
        <div id="loginStatus" class="status-message"></div>
    </div>
</div>
