<!-- 欢迎页 -->
<div id="welcomePage" class="page active">
    <div role="main">
        <div class="dd-gift-cards-intro">
            <div class="dd-l-plate">
                <div class="dd-section">
                    <h1 class="t-headline-elevated dd-compact-large-24" data-i18n="for_everyone">
                        For everything and&nbsp;everyone.
                    </h1>
                    <p class="dd-link">
                        <button id="goToLoginBtn" class="button button-super"
                            data-i18n="member_login">会员登录</button>
                    </p>
                    <div class="dd-image">
                        <img src="/public/images/apple-gift-cards-landing-202006.png" alt=""
                            width="1491" height="588" class="dd-hero ir">
                    </div>
                    <p class="t-intro" data-i18n="gift_card_intro">
                        Products, accessories, apps, games, music, movies, TV shows, iCloud+, and
                        more. This gift card does
                        it&nbsp;all. And then some.
                    </p>
                </div>
                <div class="dd-section">
                    <ul role="list"
                        class="row dd-icon-grid dd-product-grid justify-content-spacebetween">
                        <li role="listitem" class="column">
                            <img src="/public/images/mac-icon-gift-cards-landing-202401.png" alt=""
                                width="75" height="75" class="dd-icon ir">
                            <p class="t-caption" data-i18n="mac">Mac</p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/iphone-icon-gift-cards-landing-202401.png" alt=""
                                width="75" height="75" class="dd-icon ir">
                            <p class="t-caption" data-i18n="iphone">iPhone</p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/ipad-icon-gift-cards-landing-202401.png" alt=""
                                width="75" height="75" class="dd-icon ir">
                            <p class="t-caption" data-i18n="ipad">iPad</p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/watch-icon-gift-cards-landing-202401.png" alt=""
                                width="75" height="75" class="dd-icon ir">
                            <p class="t-caption" data-i18n="watch">Watch</p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/vision-icon-gift-cards-landing-202401.png" alt=""
                                width="75" height="75" class="dd-icon ir">
                            <p class="t-caption" data-i18n="apple_vision_pro">Apple Vision Pro</p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/airpods-icon-gift-cards-landing-202401.png" alt=""
                                width="75" height="75" class="dd-icon ir">
                            <p class="t-caption" data-i18n="accessories">Accessories</p>
                        </li>
                    </ul>
                    <ul role="list" class="row dd-icon-grid justify-content-spacearound">
                        <li role="listitem" class="column">
                            <img src="/public/images/app-store-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="app_store">App Store</p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/apple-arcade-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="arcade">
                                Arcade
                            </p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/apple-music-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="music">
                                Music
                            </p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/apple-tv-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="tv_plus">TV+</p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/itunes-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="itunes">iTunes</p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/apple-one-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="apple_one">Apple One</p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/apple-fitness-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="fitness_plus">Fitness+</p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/icloud-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="icloud_plus">iCloud+</p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/apple-news-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="news_plus">News+</p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/apple-books-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="books">
                                Books
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="as-l-fullwidth " data-events="event52">
        <div>
            <div class="dd-gift-cards-ftc">
                <div class="dd-l-plate">
                    <div class="dd-info">
                        <p class="t-body-reduced" data-i18n="apple_gift_card_warning1">
                            Apple Gift Cards can be used only to purchase products and services from
                            Apple. If someone asks you to
                            use Apple Gift Cards to purchase something not sold by Apple, you
                            might be the target of a scam.
                        </p>
                        <p class="t-body-reduced" data-i18n="apple_gift_card_warning2">
                            Contact Apple Support if you believe you're
                            the
                            victim of a
                            scam involving Apple Gift
                            Cards. You can also report the scam to the Federal Trade Commission
                        </p>
                        <p class="t-body-reduced" data-i18n="apple_gift_card_warning3">
                            Learn More about Apple Gift Card Scams.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>