<!-- Welcome Page -->
<div id="welcomePage" class="page active">
    <div role="main">
        <div class="dd-gift-cards-intro">
            <div class="dd-l-plate">
                <div class="dd-section">
                    <h1 class="t-headline-elevated dd-compact-large-24" data-i18n="for_everyone">
                    </h1>
                    <p class="dd-link">
                        <button id="goToLoginBtn" class="button button-super"
                            data-i18n="member_login"></button>
                    </p>
                    <div class="dd-image">
                        <img src="/public/images/apple-gift-cards-landing-202006.png" alt=""
                            width="1491" height="588" class="dd-hero ir">
                    </div>
                    <p class="t-intro" data-i18n="gift_card_intro">
                    </p>
                </div>
                <div class="dd-section">
                    <ul role="list"
                        class="row dd-icon-grid dd-product-grid justify-content-spacebetween">
                        <li role="listitem" class="column">
                            <img src="/public/images/mac-icon-gift-cards-landing-202401.png" alt=""
                                width="75" height="75" class="dd-icon ir">
                            <p class="t-caption" data-i18n="mac"></p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/iphone-icon-gift-cards-landing-202401.png" alt=""
                                width="75" height="75" class="dd-icon ir">
                            <p class="t-caption" data-i18n="iphone"></p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/ipad-icon-gift-cards-landing-202401.png" alt=""
                                width="75" height="75" class="dd-icon ir">
                            <p class="t-caption" data-i18n="ipad"></p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/watch-icon-gift-cards-landing-202401.png" alt=""
                                width="75" height="75" class="dd-icon ir">
                            <p class="t-caption" data-i18n="watch"></p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/vision-icon-gift-cards-landing-202401.png" alt=""
                                width="75" height="75" class="dd-icon ir">
                            <p class="t-caption" data-i18n="apple_vision_pro"></p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/airpods-icon-gift-cards-landing-202401.png" alt=""
                                width="75" height="75" class="dd-icon ir">
                            <p class="t-caption" data-i18n="accessories"></p>
                        </li>
                    </ul>
                    <ul role="list" class="row dd-icon-grid justify-content-spacearound">
                        <li role="listitem" class="column">
                            <img src="/public/images/app-store-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="app_store"></p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/apple-arcade-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="arcade">
                            </p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/apple-music-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="music">
                            </p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/apple-tv-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="tv_plus"></p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/itunes-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="itunes"></p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/apple-one-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="apple_one"></p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/apple-fitness-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="fitness_plus"></p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/icloud-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="icloud_plus"></p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/apple-news-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="news_plus"></p>
                        </li>
                        <li role="listitem" class="column">
                            <img src="/public/images/apple-books-icon-gift-cards-202102.png" alt=""
                                width="51" height="51" class="dd-icon ir">
                            <p class="t-caption" data-i18n="books">
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="as-l-fullwidth " data-events="event52">
        <div>
            <div class="dd-gift-cards-ftc">
                <div class="dd-l-plate">
                    <div class="dd-info">
                        <p class="t-body-reduced" data-i18n="apple_gift_card_warning1">
                        </p>
                        <p class="t-body-reduced" data-i18n="apple_gift_card_warning2">
                        </p>
                        <p class="t-body-reduced" data-i18n="apple_gift_card_warning3">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>